#ubicacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#ubicacion>div>h4{
    margin: 30px;
    font-size: 40px;
}

#ubicacion>div>div>h4{
    font-size: 40px;
    margin-bottom: 20px;
}

#ubicacion>div>iframe{
    margin-bottom: 80px;
}

#ubicacion>div>form{
    margin-bottom: 80px;
}

.contactos>div{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    background-color: #E0E2E4;

}
.contactos>div>ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contactos>div>ul>li{
    padding: 10px;
    list-style: none;
    margin-top: 5px;
}
