*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
    row-gap: 0px;

}

h2{
    color: antiquewhite;
    font-size: 40px;
    
}

h3{
    margin: 30px;
    text-align: center;
    font-size: 30px;
}

button{
    padding: 5px;
    background: none;
    font-size: 22px;
    border-radius: 0;
    border-color: white;
    border-style: solid;
    color: white;
    transition: 1s;
    cursor: pointer;
}

button:hover{
    background: none;
    font-size: 22px;
    border-color: black;
    color: black;
    box-shadow: 10px 10px 10px black;
}
.cabecera{
background-color: gray;
color: white;
height: 30px;
font-family: serif;
}

.cabecera>div{
    text-align: center;
   padding-top: 6px;
   
}

.cabecera>div>h4{
    font-family: serif;
}

.menuizq{
    background-image: url(../Images/pexels1\ \(1\).jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.52),rgba(57, 62, 63, 0.596), rgba(67, 67, 63, 0.575), rgba(0, 0, 0, 0.849)), url(../Images/pexels1\ \(1\).jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    grid-column: 1/6;
}

.menuizq>div{
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
    justify-content: left;
    flex-direction: column;
   
}

.menu{
    margin-top: 40px;
    list-style: none;
    margin-left: 10px;
    font-size: 20px;
    width: 50%;
    
}

.menu>li{
    padding-bottom: 30px;
}

.menu>li>a{
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
    transition: 1s;
}

.menu>li>a:hover{
    margin-left: 10px;
    color: #C2C1CA ;


}

#boton{
    display: flex;
    justify-content: center;
}

#boton>button{
    padding: 5px;
    background: none;
    font-size: 30px;
    border-radius: 0;
    border-color: white;
    border-style: solid;
    color: white;
}

#boton>button:hover{
    background: none;
    font-size: 30px;
    border-color: black;
    color: black;
    box-shadow: 10px 10px 10px black;
   
}


.container{
    background-color: rgb(255, 253, 253);
    width: 100%;
   
    display: grid;
 
    grid-template-columns: repeat(5, 1fr);
}

.container > .img-registro,
.container > .barra-lateral,
.container > .contenido,
.container > .invitacion,
.container > .contactos,
.container > div,
.container > article
.container > .menuizq{

    background-color: bisque;
    padding: 20px;
    border: none;
}



.container > .img-registro{
    background-image: url(../Images/pexels2.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.52),rgba(57, 62, 63, 0.596), rgba(67, 67, 63, 0.575), rgba(0, 0, 0, 0.849)), url(../Images/pexels2.jpg);

    background-size: cover;
    background-attachment: scroll;
    
    grid-column: 1/6;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    margin-bottom: 20px;
}




.container > .barra-lateral{
    grid-column: 1/2;
    height: 809px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.productos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 3px;
    padding:  0px;
    text-decoration: none;
    

}



.container > .contenido{
    color: white;
    grid-column: 2/6;
    height: 791px;
    background-image: url(../Images/b4.png);
    background-position: bottom;
    background-size: cover;
    padding-top: 70px;
    

}

.container > .invitacion{
    grid-column: 1/6;
    height: auto;
    background-color: rgba(255, 255, 255, 0.964);
}

.invitacion > div{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
   
}



.invitacion > div > h3{
    margin: 10px;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
    color: gray;
}



.container > .contactos{
    grid-column: 1/6;
    font-size: 20px;
    text-align: center;
    background-color: rgb(20, 25, 25);
    color: white;

  

}






